@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.page-section {
  padding: 15rem 0;
  display: grid;
  grid-auto-rows: auto;
  gap: 2.5rem;

  &--blue-2 {
    background: v.$color-1-dark;
    color: v.$color-grey-light;
  }

  &--green-2 {
    background: v.$color-2-dark;
    color: v.$color-grey-light;
  }

  &--padding-top {
    padding: 15rem 0 0 0;
  }
}
