@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.page-section {
  padding: 15rem 0;
  display: grid;
  grid-auto-rows: auto;
  gap: 2.5rem;

  &--blue {
    background: v.$color-1-dark;
    color: v.$font-light;

    & img {
      box-shadow: v.$shadow-light;
    }
  }

  &--grey {
    background: v.$color-grey-light;
  }

  &--padding-top {
    padding: 15rem 0 0 0;
  }
}
