@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  background-color: v.$color-black;
  margin-top: auto;

  &__link {
    &,
    &:link,
    &:visited {
      color: v.$color-white;
      text-decoration: none;
    }
  }

  &:active,
  &:hover {
    color: v.$color-1;
  }
}
