@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  background-color: v.$color-black;
  padding: 0.7rem 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  &__text {
    color: v.$color-grey-light;
  }

  &__link {
    display: flex;

    &,
    &:link,
    &:visited {
      color: v.$color-grey-light;
      text-decoration: none;
    }

    &:active,
    &:hover {
      color: v.$color-white;
    }
  }

  &__icon {
    width: 3rem;
  }
}
