@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.hamburger {
  background-color: v.$color-black;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  color: v.$color-white;
  gap: 1.5rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include m.bp-sm {
    border-radius: 0.3rem;
    top: 2rem;
    right: 2rem;
    left: auto;
    grid-template-columns: auto auto;
  }

  &__title {
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 100;
    text-align: right;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
  }

  &__icon {
    position: absolute;

    &,
    &::after,
    &::before {
      width: 3.5rem;
      height: 2.6px;
      border-radius: 5rem;
      background-color: v.$color-1-light;
      transition: transform 0.2s;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1.2rem;
    }

    &::after {
      top: 1.2rem;
    }
  }

  ///
  &__button:hover &__icon,
  &__button:hover &__icon::after,
  &__button:hover &__icon::before {
    background-color: v.$color-1;
  }

  &__button:hover &__icon::before {
    top: -1.3rem;
  }

  &__button:hover &__icon::after {
    top: 1.3rem;
  }

  &__checkbox:checked + &__title {
    color: v.$color-black;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
