@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  position: absolute;
  width: 100%;

  &__top {
    width: 100%;
    padding: 1rem 2.5rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    top: 0;

    @include m.bp-sm {
      padding: 3rem 3.5rem;
    }
  }

  &__title {
    font-family: v.$font-mono;
    color: v.$color-white;
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}
