@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: v.$hero-gradient,
    // url(../assets/images/bg-mountains.png);
    url(../../public/images/bg-sm.jpg) no-repeat right top / cover;

  @include m.bp-md {
    background: v.$hero-gradient,
      url(../../public/images/bg-md.jpg) no-repeat right center / cover;
  }

  @include m.bp-lg {
    background: v.$hero-gradient,
      url(../../public/images/bg-lg.jpg) no-repeat right center / cover;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 1.5rem;
    color: v.$color-1-dark;
    text-align: center;

    @include m.bp-xl {
      text-align: left;
    }
  }
}
