@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: v.$hero-gradient,
    // url(../assets/images/bg-mountains.png);
    url(../../public/images/bg-monadnock-ps.jpg) no-repeat left center / cover;

  @include m.bp-sm {
    background: v.$hero-gradient,
      url(../../public/images/bg-monadnock-pl.jpg) no-repeat left center / cover;
  }

  @include m.bp-md {
    background: v.$hero-gradient,
      url(../../public/images/bg-monadnock-ls.jpg) no-repeat left center / cover;
  }

  @include m.bp-h-md {
    background: v.$hero-gradient,
      url(../../public/images/bg-monadnock-ll.jpg) no-repeat left center / cover;
  }

  @include m.bp-lg {
    background: v.$hero-gradient,
      url(../../public/images/bg-monadnock-ll.jpg) no-repeat left center / cover;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 1.5rem;
    color: v.$color-white;
  }
}
