@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(
      rgba(v.$color-black, 0.6),
      rgba(v.$color-black, 0.6)
    ),
    url(../assets/images/bg-mountains.png);

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 1.5rem;
    color: v.$color-white;
  }
}
