@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.project {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  gap: 1.5rem;

  & h2 {
    grid-column: 1 / -1;
    font-size: 3rem;
  }

  &__img-link {
    grid-column: 1 / -1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: v.$imgShadow;
  }

  & a,
  & a:link,
  & a:visited {
    font-size: 2.4rem;
    color: v.$color-1;
    text-decoration: none;
  }

  & a:hover,
  & a:active {
    color: v.$color-black-2;
  }
}
