$color-1: #6b9ac4;
$color-1-dark: #15406b;
$color-2: #679436;
$color-2-dark: #073b03;
$color-3: #fa9500;
$color-4: #a53f2b;

$color-white: #f0eff4;

$color-grey-lighter: #d6d5c9;
$color-grey-light: #b9b7a7;
$color-grey-medium: #7c90a0;
$color-grey-dark: #474350;

$color-black: #1c1e1c;
$color-black-2: #22223b;

// STYLE

$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: "Garamond", Times, serif;
$font-mono: monospace;

$default-font-size: 2rem;

$font-dark: $color-grey-dark;
$font-light: $color-grey-light;
$font-nav: $color-grey-light;

$imgShadow: 0 0.5rem 1rem rgba(#222222, 0.5);
$shadow-light-w: rgba(#5a5a5a, 0.5) 0px 0.8rem 2.4rem;
$shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600
$bp-xs: 31.25em; // 500px

// COLORS FROM https://coolors.co
/* CSS HEX */
// --raisin-black: #181922ff;
// --slate-gray: #6d7c9aff;
// --eggplant: #5f4e5cff;
// --eggplant-2: #44343fff;
// --glaucous: #5f76bcff;
// --vista-blue: #738fccff;
// --raisin-black-2: #272837ff;
// --ghost-white: #e0e2eaff;
// --raisin-black-3: #1e1d27ff;
// --space-cadet: #3d3d57ff;
