.justify-center {
  justify-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.padding-bottom {
  padding-bottom: 5rem;
}

.radius {
  border-radius: 0.5rem;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.text-center {
  text-align: center;
}
